/*========================================================================================
	Including: 
	body style
	input: input/ edittodo
	label
	button:#button/ btns/editbuttn/ deletebuttn/ savebtutton
	check box: #complete
	
==========================================================================================*/


body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {

  width: 400px;
  margin: 100px auto ;
  background-color:#F9F4E3;
  border-style:none;
  border-radius: 25px;
   
}

li{
	list-style:none;
	position:relative;
	padding: .5px;

		
	}
	
ul{
	
  list-style: none;
  padding: 1px;
  }


/*========================================================================================
	input: input/ edittodo
==========================================================================================*/





input[type=text] {
    width: 50%;
    border:solid #ccc;
    border-radius: 1px;
    font-size: 16px;
    padding: 1px;
    
    }

.label{
	width:30%;	
}


.editTodo{
	display:none;	
}



/*========================================================================================
	button:
	#button
	btns
	editbuttn
	deletebuttn
	savebtutton
==========================================================================================*/



.button {
    background: #e6e6fa ;
    border: 1px solid green;;
    padding: 5px 5px 5px 5px;
    color: 	#000080;
    border-radius: 3px;
    text-shadow: 2px 2px 2px #87CEEB ;
    font-weight: bold;
    box-shadow: 3px 3px 3px #3D3D3D;
    box-shadow:3px 3px 3px #3D3D3D;
    box-shadow:3px 3px 3px #3D3D3D;
    margin: 2px 2px;
    cursor: pointer;
  
     }
.button:hover {
    color: #333;
    background-color: #B0C4DE;
	}
   
.editbutton{
	
	 background:transparent;
	 border:0;
  	 float: right;
 	
 	}
         
.editbutton:hover{
	color:#cd4400;
	} 
	       
.deletebutton{
	
	background:transparent;
 	border:0; 
  	float: right;
 	 }
  
  .deletebutton:hover{
	color:#cd4400;
	}     
 
 .savebutton{
	display:none;
	background:transparent;
	border:0;
 	text-decoration: underline;
 	float: right;
}

 .btn5{
	display:none;
 	background: #e6e6fa ;
    border: 1px solid green;;
    padding: 5px 5px 5px 5px;
    color: 	#000080;
    border-radius: 3px;
    text-shadow: 2px 2px 2px #87CEEB ;
    font-weight: bold;
    box-shadow: 3px 3px 3px #3D3D3D;
    box-shadow:3px 3px 3px #3D3D3D;
    box-shadow:3px 3px 3px #3D3D3D;
    margin: 2px 2px;
    cursor: pointer;
  
     }

 .btn5:hover {
    color: #333;
    background-color: #B0C4DE;
	}

/*========================================================================================
	check box: #complete
==========================================================================================*/

	  	
@keyframes completed{
from { margin-left: 30px;
		width:20%; }
  to   { 
  		width:70% }  
  }

 .completed {
  position: relative;
  opacity: 0.5;
  transition: all 0.7s;
}
.completed:after {
  content: ' ';
  position:absolute;
  top: 50%;
  left: 20;
  right: 10;
  width: 75%;
  height: 1px;
  background: black;
  animation-name: completed;
  animation-duration: 1s;
  animation-timing-function: linear;
     
}
	 


 

